sudo: false
language: node_js
node_js:
  - 8
  - 10

before_install:
  - npm install -g npm

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g grunt-cli

script:
  - npm run test:lib
  - grunt
